.a {
    align-items: center;
}

.a-h{
    font-size: 2rem;
    text-align: center;
    padding-top: 2.5rem;
}

.a-para{
    text-align: left;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 550;
    color: var(--button-color);
}



